<nav class="navbar navbar-expand-sm navbar-light bg-light bg-opacity-50 py-0 mb-5">
      <div class="container">
        <a class="navbar-brand py-0" routerLink="#"> <img src="../assets/vendor-3.jpg" alt="logo" class="w-50"> </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" routerLink="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li> -->
            </ul>
            <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
  </div>
</nav>



<!-- <img src="../assets/vendor-3.jpg" alt=""> -->
<router-outlet></router-outlet>