/*.products{
    display: inline-flex;

}*/

.product
{
    //background-color: rgb(247, 244, 241);
    box-shadow: 0 0 10px rgba(206, 191, 191, 0.434);
}

.productItem :nth-child(2) span{
  color: gray;
  font-size: 2rem;
  text-align: center;
}
