
<div class="row">
  <div class="col-md-3 p-3 " *ngFor="let product of products" [ngStyle]="{'display': shouldBeViewed(product)? 'block': 'none' }" > 
      <div class="p-2 product" >
        <img [src]="product.imageProduct" class="img-fluid mb-3">
        
        <div class="product-desc">
            <h4>{{product.nameProduct}}</h4>
            <!-- <span class="text-muted" [ngStyle]="{'visibility': product.priceProduct>100? 'visible':'hidden'}" >${{product.priceProduct}}</span> -->
            <span class="text-muted">${{product.priceProduct}}</span>
            <span class="d-block text-success fw-bold" *ngIf="product.isAvailable" >Avaliable</span>
            <span class="d-block text-danger fw-bold" *ngIf="!product.isAvailable" >Not Avaliable</span>
        </div>
      </div>
  </div>
</div>


<!-- 
<ng-template #noProducts >
  <h2 class=" mt-5 ">No Products!</h2>
</ng-template> -->